body {
    padding: 24px;
    background-color: #F0F0F0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.box {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

.title{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #ff6a28;
}

.subtitle{ 
    color: #61656D;
    font-size: 16px;
    margin-top: 8px;
}

.image{
    margin-top: 14px;
    width: 100%;
    border-radius: 5px;
}

.wrapper-info{
    display: flex;
    justify-content:space-between;
    margin-top: 10px;
    
}

.info-box{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 118px;
    height: 85px;
    background: #F0F0F0;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    
}

.icon-card{
    width: 20px;
}

.info-text{
    color: #61656D;
    font-size: 16px;
    margin-top: 5px;
    text-transform: uppercase;
}

.info-instruction{
    margin-top: 6px;
    font-size: 14px;
    color: #FF6A28;
    text-transform: uppercase;
  }

  .owner-box{
    width: 238px;
    height: 85px;
    border-radius: 5px;
    background-color: #F0F0F0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  }

  .owner-image{
    width: 60px;
    height: 60px;
  }
  
  .owner-info-wrapper{
    display: flex;
    flex-direction: column;
    margin-left: 11px;
  }